*
{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 225, 182);
    font-size: 25px;
}

.cabecera
{
    height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    justify-content:space-around;
}

.container__saludo
{
    text-align: justify;
    color: #69390c;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 2%;
    width: 800px;

}

.container__saludo p{
    font-weight: bolder;
    padding-right: 15px;
    font-size: 25px;
    margin-bottom: 10%
}

.target
{
    height: 20em;
}
.container__logo
{
    margin-left: 0px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: flex;
    flex-wrap: nowrap;
}

.logo__SrPapita
{
    width: 200px;
    height: 200px;
    border-radius: 220px;    
}

.list__item
{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;    
    list-style-type: none;
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.list__item-type--bloque
{
    width: 92%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items:flex-start;
    margin-bottom: 50px;
    list-style-type: none;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
}

.list__item-type
{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    padding-left: 5px;
    list-style-type: none;
    border: 10px solid gray;
    border-radius: 30px;
    padding-top: 5%;
    padding-right: 7%;
    margin-bottom: 5%;
}
.list__item-type p{
    padding-left: 30%;
    margin-bottom: 5%;
}
.list__item-type--bloque ul {
    list-style-type: none;
    display: flex;
    flex-wrap:  wrap;
}
.list__item-type--bloque li a{
    text-decoration: none;
    color: #101010;
}