*
{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 225, 182);
    outline: solid 1px orange;
    font-size: 25px;
}

.cabecera
{
    height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.container
{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content:space-around;
}

.container__saludo
{
    text-align: justify;
    color: #69390c;
    padding-left: 5%;
    padding-top: 2%;
    width: 800px;

}

.container__saludo p{
    font-weight: bolder;
    padding-right: 5px;
}

.target
{
    height: 20em;
}

.container__saludo p
{
    font-size: 25px;
}

.container__logo
{
    margin-left: 0px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: flex;
    flex-wrap: nowrap;
}

.logo__SrPapita
{
    width: 200px;
    height: 200px;
    border-radius: 220px;    
}

.list__item
{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;    
}

.list__item li ul
{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    align-items:flex-start;
}

.list__item li
{
    display: flex;
    flex-wrap: wrap;
}